@media (min-width: 768px) {
  .container-1 {
    display: flex;
  }
  .container-2 {
    display: flex; /* puts boxes side by side */
    justify-content: space-between; /* spreads it out and spaces on side */
  }
}

.container-1 div,
.container-2 div {
  border: 1px #ccc solid;
  padding: 10px;
}

.container-2-box {
  flex-basis: 20%; /* same as width but more flexy looking */
}
.container-2 .box-1 {
  flex: 2;
  order: 2;
}
.box-2 {
  flex: 1;
  order: 3;
}
.box-3 {
  flex: 2;
  order: 1;
}

/* inside container-2 each column has same class */
