.container-1 {
  display: flex;
  flex-direction: column;
  /* default is row */
}
.container-1 div {
  border: 1px #ccc solid;
  padding: 10px;
}

.box-1 {
  flex: 2;
  order: 2;
}
.box-2 {
  flex: 1;
  order: 3;
}
.box-3 {
  flex: 2;
  order: 1;
}
